In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=668e441440fc6bf3a6bdea20aadce39611ba4ed205d0f9f4fde80ff57df368f3
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
from apyori import apriori

In [ ]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base = pd.read_csv("/content/sample_data/Mercado.csv", ",", encoding="ISO-8859-1")
base

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Banana,Batata,Pasta de dente,Shampoo,Unnamed: 4,Unnamed: 5,Escova,Creme para mãos
0,NaN,NaN,NaN,Shampoo,Ervilha,NaN,NaN,NaN
1,NaN,Batata,Pasta de dente,NaN,NaN,Protetor Solar,Escova,Creme para mãos
2,NaN,Batata,NaN,NaN,Ervilha,NaN,NaN,NaN
3,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,NaN
4,NaN,NaN,Pasta de dente,Shampoo,NaN,Protetor Solar,Escova,Creme para mãos
5,Banana,Batata,NaN,Shampoo,NaN,Protetor Solar,Escova,NaN
6,Banana,NaN,Pasta de dente,Shampoo,NaN,NaN,NaN,NaN
7,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,Creme para mãos
8,Banana,NaN,NaN,Shampoo,NaN,NaN,NaN,NaN
9,Banana,Batata,NaN,Shampoo,Ervilha,NaN,Escova,NaN

In [ ]:
base.shape

(10, 8)

In [ ]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [ ]:
transacoes

[['nan', 'nan', 'nan', 'Shampoo', 'Ervilha', 'nan', 'nan', 'nan'],
 ['nan',
  'Batata',
  'Pasta de dente',
  'nan',
  'nan',
  'Protetor Solar',
  'Escova',
  'Creme para mãos'],
 ['nan', 'Batata', 'nan', 'nan', 'Ervilha', 'nan', 'nan', 'nan'],
 ['Banana', 'Batata', 'nan', 'Shampoo', 'Ervilha', 'nan', 'Escova', 'nan'],
 ['nan',
  'nan',
  'Pasta de dente',
  'Shampoo',
  'nan',
  'Protetor Solar',
  'Escova',
  'Creme para mãos'],
 ['Banana',
  'Batata',
  'nan',
  'Shampoo',
  'nan',
  'Protetor Solar',
  'Escova',
  'nan'],
 ['Banana', 'nan', 'Pasta de dente', 'Shampoo', 'nan', 'nan', 'nan', 'nan'],
 ['Banana',
  'Batata',
  'nan',
  'Shampoo',
  'Ervilha',
  'nan',
  'Escova',
  'Creme para mãos'],
 ['Banana', 'nan', 'nan', 'Shampoo', 'nan', 'nan', 'nan', 'nan'],
 ['Banana', 'Batata', 'nan', 'Shampoo', 'Ervilha', 'nan', 'Escova', 'nan']]

In [ ]:
regras = apriori(transacoes, min_support = 0.6, min_confidence = 0.7)
saida = list(regras) 
print(len(saida))
print(saida)

8
[RelationRecord(items=frozenset({'Shampoo'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shampoo'}), confidence=0.8, lift=1.0)]), RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Banana', 'Shampoo'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'Banana'}), confidence=0.7499999999999999, lift=1.2499999999999998)]), RelationRecord(items=frozenset({'nan', 'Banana'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Batata', 'nan'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Batata'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'Escova', 'nan'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Escova'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'nan', 'Shampoo'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'Shampoo'}), confidence=0.8, lift=1.0), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Shampoo'}), confidence=0.8, lift=1.0)]), RelationRecord(items=frozenset({'nan', 'Banana', 'Shampoo'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'nan', 'Shampoo'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'nan', 'Banana'}), confidence=0.7499999999999999, lift=1.2499999999999998), OrderedStatistic(items_base=frozenset({'Banana', 'Shampoo'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nan', 'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'nan', 'Shampoo'}), items_add=frozenset({'Banana'}), confidence=0.7499999999999999, lift=1.2499999999999998)])]

In [ ]:
print(saida[0])

RelationRecord(items=frozenset({'Shampoo'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shampoo'}), confidence=0.8, lift=1.0)])

In [ ]:
print(saida[1])

RelationRecord(items=frozenset({'nan'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0)])

In [ ]:
print(saida[2])

RelationRecord(items=frozenset({'Banana', 'Shampoo'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Banana'}), items_add=frozenset({'Shampoo'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'Shampoo'}), items_add=frozenset({'Banana'}), confidence=0.7499999999999999, lift=1.2499999999999998)])

In [ ]:
lhs = []
rhs = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  #print(resultado)
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    lhs.append(a)
    rhs.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Lhs': lhs, 'Rhs': rhs, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [ ]:
RegrasFinais

                  Lhs             Rhs  suporte  confianca  lift
0                  []       [Shampoo]      0.8       0.80  1.00
1                  []           [nan]      1.0       1.00  1.00
2            [Banana]       [Shampoo]      0.6       1.00  1.25
3           [Shampoo]        [Banana]      0.6       0.75  1.25
4            [Banana]           [nan]      0.6       1.00  1.00
5            [Batata]           [nan]      0.6       1.00  1.00
6            [Escova]           [nan]      0.6       1.00  1.00
7                  []  [nan, Shampoo]      0.8       0.80  1.00
8           [Shampoo]           [nan]      0.8       1.00  1.00
9               [nan]       [Shampoo]      0.8       0.80  1.00
10           [Banana]  [nan, Shampoo]      0.6       1.00  1.25
11          [Shampoo]   [nan, Banana]      0.6       0.75  1.25
12  [Banana, Shampoo]           [nan]      0.6       1.00  1.00
13      [nan, Banana]       [Shampoo]      0.6       1.00  1.25
14     [nan, Shampoo]        [Banana]      0.6       0.75  1.25

In [ ]:
RegrasFinais.sort_values(by='lift', ascending =False)

,Lhs,Rhs,suporte,confianca,lift
136,"[Ervilha, Escova, Banana]","[Batata, Shampoo]",0.3,1.0,2.5
168,"[Batata, Shampoo]","[nan, Escova, Banana]",0.4,1.0,2.5
159,"[Ervilha, nan, Banana]","[Batata, Shampoo]",0.3,1.0,2.5
65,"[Ervilha, Escova]","[Batata, Banana]",0.3,1.0,2.5
146,"[Ervilha, Escova]","[nan, Batata, Banana]",0.3,1.0,2.5
...,...,...,...,...,...
49,"[Batata, Shampoo]",[nan],0.4,1.0,1.0
46,"[Escova, Batata]",[nan],0.5,1.0,1.0
191,"[Ervilha, Escova, Banana, Shampoo]",[nan],0.3,1.0,1.0
41,"[Escova, Batata]",[Shampoo],0.4,0.8,1.0
0,[],[Shampoo],0.8,0.8,1.0